# Text
`String (str)`

In [4]:
"ini adalah string"
'kutipan: "yang dikutipkan"'

'kutipan: "yang dikutipkan"'

In [10]:
"ini string 1 " 'ini string 2'

'ini string 1 ini string 2'

# Numerik
`Integer (int)`

In [19]:
99,-99

(99, -99)

In [22]:
type(99)

int

`Float`

In [9]:
9.9,-9.9

(9.9, -9.9)

In [13]:
# 0.1 x 10^7
1e7

10000000.0

In [14]:
type(1e7)

float

`List`

**Catatan**

varList, data, index

Function:   1.  *.append* :  menambahkan data         

Mengubah data varlist[x] = y

Menghapus data varlist.remove(x)

In [27]:
[1,2,3,4,5,6,7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
type([1,2,3,4,5,6,7,8,9])

list

`Tuple`

**tidak dapat mengubah data**

In [32]:
varList = (1,2,3,4,5,6,7,8,9)

print(varList[8])

9

`Slicing`

**mengambil sebagian data dari list/tuple, bisa juga string**

In [31]:
listdata = [1,2,3,4,5,6,7,8,9]

print(listdata[1:5])

[2, 3, 4, 5]

# Dictionary

In [37]:
varDict ={
    "key1": 111,
    "key2": 123,
    "key3": 901
}

print(varDict)

# mengubah data
varDict["key3"] = [1,2,3]

# menambahkan data
varDict["key4"] = "ini string"

# menghapus data
del varDict["key3"]

{'key1': 111, 'key2': 123, 'key3': 901}

`Set`

In [2]:
listA = [1,2,3,4,5,2,4,4]
setA = {1,2,3,4,5,2,4,4}

len(listA)

8

`boolean`

In [40]:
True

True

`None`

In [44]:
varA = None
print(varA)

None

# Variable

In [ ]:
varA = 123

iniCamelCase = "asdf"
IniPascalCase = "asdf"
ini_snake_case = "asdf"

# Operator atau Simbol

In [45]:
# Arithmethic   : + - * / ** // %
# Assignment    : =
# Comparison    : > >= < <= == !=
# Logical       : AND, OR, NOT

varA = 123

varA += 5       # increment/dicrement

`Expression`

In [46]:
varA = 1
varB = 2

varA + varB

3

`Comparison`

In [52]:
varA = 1
varB = 2

varA <= 1

# comparison dan logical

kriteria1 = True
kriteria2 = True
kriteria3 = False

kriteria1 == True and (kriteria2 == True or kriteria3 == True)

True